#loading-page {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

#birthday-page {
    display: none;
}

#overlay {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
}

#center-video, #center-birthday {
    height: 100%;
}

.middle-row div {
    float: left;
}

.left-col, .right-col {
    width: 25%;
}

.center-col {
    width: 49.9%;
    height: 250px;
}

.bottom-row {
    clear: both;
}

.wrapper {
    width: 12.2%;
    height: 250px;
    overflow: hidden;
    float: left;
    margin: 2px;
}

.middle-row .wrapper {
    width: 48%;
}

.choreo {
    width: 550px;
    margin-left: -189px;
    margin-top: -15%;
}

.top-row .thumbnail, .bottom-row .thumbnail {
    width: 12.2%;
}

img {
    width: 120px;
    cursor: pointer;
    margin-top: 300px;
}