body {
  min-width: 1400px;
}

#loading-page {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

#birthday-page {
    display: none;
    text-align: center;
}

#birthday-page p {
  font-size: 80px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  -webkit-animation: super-rainbow 3s infinite linear;
}

@-webkit-keyframes super-rainbow {
  0%   { color: #FF0026; }
  20%  { color: #FF9A4C; }
  40%  { color: #F3FD74; }
  60%  { color: #2CF16A; }
  80%  { color: #00FFE7; }
  100% { color: #1C2DD7; }
}

#center-video, #center-birthday {
    height: 100%;
}

.middle-row div {
    float: left;
}

.left-col, .right-col {
    width: 25%;
}

.center-col {
    width: 49.9%;
    height: 250px;
    text-align: center;
}

.bottom-row {
    clear: both;
}

.wrapper {
    width: 12.2%;
    height: 250px;
    overflow: hidden;
    float: left;
    margin: 2px;
}

.middle-row .wrapper {
    width: 48%;
}

.choreo {
    width: 550px;
    margin-left: -189px;
    margin-top: -15%;
}

.top-row .thumbnail, .bottom-row .thumbnail {
    width: 12.2%;
}

.replay {
    width: 120px;
    cursor: pointer;
}
