#birthday-page {
    display: none;
}

#replay-page {
    display: none;
    background-color: black;
    opacity: 0.7;
}

#center-video, #center-birthday {
    height: 100%;
}

.middle-row div {
    float: left;
}

.left-col, .right-col {
    width: 25%;
}

.center-col {
    width: 49.5%;
}

.bottom-row {
    clear: both;
}

.top-row .thumbnail, .bottom-row .thumbnail {
    width: 12.2%;
}

.middle-row .thumbnail {
    width: 48%;
}
